@-moz-document domain("todoist.com") {
/* PT Sans font */
@font-face {
  font-family: 'PT Sans';
  font-style:  normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style:  normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style:  normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style:  normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
  font-family: 'PT Sans', 
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol' !important;
}


/**
 * 
 * =====================================================
 */
#editor {
  padding-left: 0;
  padding-right: 0;
}

#agenda_view .view_header {
  margin-left: 28px;
}

.section_header,
.subsection_header {
  margin-right:  0;
  padding-left:  28px !important;
  padding-right: 28px;
}


/**
 * Melhorias no checkbox das tarefas.
 * =====================================================
 */

/* Diminuindo tamanho dos checkboxes e removendo border-radius */
body .priority_1 .ist_checkbox,
body .priority_2 .ist_checkbox,
body .priority_3 .ist_checkbox,
body .priority_4 .ist_checkbox {
  border-radius: 0;
  width:         16px !important;
  height:        16px !important;
}

/* Diminuindo borda dos checkboxes com prioridade */
body .priority_2 .ist_checkbox,
body .priority_3 .ist_checkbox,
body .priority_4 .ist_checkbox {
  border-width: 1px !important;
}

/* Cores das prioridades  esquerda como no aplicativo mobile */
.priority_2 { box-shadow: inset 1px 0 0 #fcc12b !important; }
.priority_3 { box-shadow: inset 1px 0 0 #f8801c !important; }
.priority_4 { box-shadow: inset 1px 0 0 #d04949 !important; }

/* Fundo transparente para checkboxes */
.priority_1 .ist_checkbox,
.priority_2 .ist_checkbox,
.priority_3 .ist_checkbox,
.priority_4 .ist_checkbox {
  background-color: transparent !important;
}

/* Cor da borda mais clara para tasks sem priroridade (p4) */
.priority_1 .ist_checkbox {
  border-color: #ddd !important;
}

.priority_1 .ist_checkbox:hover,
.priority_2 .ist_checkbox:hover,
.priority_3 .ist_checkbox:hover,
.priority_4 .ist_checkbox:hover {
  background-color: #f1f1f1 !important;
}


/**
 * Melhorias na exibi칞칚o do hor치rio da tarefa.
 * =====================================================
 */
.agenda_item__time {
  border:       1px solid #d1d1d1 !important;
  font-weight:  600               !important;
  font-size:    11px              !important;
  height:       15px              !important;
  line-height:  1.5               !important;
  margin-right: 8px               !important;
  margin-top:   1px               !important;
  min-width:    inherit           !important;
  padding:      0 2px 1px 3px     !important;
  text-align:   center            !important;
}

/* Suavizando cor do hor치rio de tasks atrasadas */
#agenda_view .agenda_item__time_overdue span {
  color: #d04949 !important;
}


/**
 * Tamanho do c칤rculo dos projetos
 * =====================================================
 */

/* Projects in tasks */
.project_item__color {
  width:         8px !important;
  height:        8px !important;
  border-radius: 8px !important;
  margin-top:    5px !important;
}

/* Projects in sidebar */
.counter_color {
  font-size: 11px !important;
}


/**
 * Diminuir dist칙ncia do c칤rculo e do nome do projeto
 * =====================================================
 */
.generic_left_list li table td {
  padding-left: 0 !important;
}

.generic_left_list .indent_2 {
  padding-left: 17px !important;
}

.td_color {
  min-width: 14px !important;
}


/**
 * Melhorias nas tasks
 * =====================================================
 */

.task_item {
  padding-left: 30px !important;
}

/* Alinhamento do 칤cone de menu da task */
.task_item td.menu {
  padding-top: 12px !important;
}

.task_item .content.task_content_item {
  font-size: 13.5px !important;
}

#agenda_view .column_project {
  padding-top:    12px !important;
  padding-bottom: 11px !important;
}

#agenda_view .project {
  padding-top: 12px !important;
}

.label {
  display:     block;
  line-height: .8;
  margin-top:  2px;
}


/**
 * Alinhamento da caixa Busca R치pida
 * =====================================================
 */
#quick_find {
  margin-left: 296px !important;
}


/**
 * 츼rea de trabalho do Todoist
 * =====================================================
 *
 * TODO: Tornar responsiva essa regra.
 */
#left_menu {
  width: 228px !important;
}

#content {
  margin-left: 239px !important;
}

#editor {
  width: 690px !important;
}

#list_holder {
  width: 230px !important;
}


/**
 * Diminuindo tamanho dos emojis
 * =====================================================
 */
span.emoji {
  font-size: 15px !important;
}

/* Windows uses images for emojis */
img.emoji {
  width:  15px !important;
  height: 15px !important;
}

/* Corre칞칚o manual para 칤cone de lixeira */
img.emoji[alt="游딈"] {
  vertical-align: sub !important;
}


/**
 * Code
 * =====================================================
 */
code {
  background-color: #f1f1f1 !important;
  font-size:        12px    !important;
}

.code_inline {
  padding: 2px !important;
}


/* TODO: Organize */
.agenda_add_task {
  padding-left: 30px !important;
}

#editor .action_add_item {
  padding-left: 28px !important;
}

li.agenda_add_task {
  margin-left: 28px;
}

/* Indent */
#editor .items .indent_1 {
  padding-left: 30px !important;
}

#editor .items .indent_2 {
  padding-left: 50px !important;
}


.items .service_icon {
  margin-right: -1px !important;
}

.cmp_email {
  background-position: -3px -1179px !important;
  width:               16px !important;
  height:              16px !important;
}

}
