//
// Size of the project circles
// =====================================================
//

$size: 8px;

// Project circles in task list
.project_item__color {
  border-radius: $size;
  width: $size;
  height: $size;

  // After resizing, the icon margin needs to be corrected.
  margin-top: 5px;
}

// Project circles in sidebar
#projects_list .project::before,
#projects_archived_ul .project::before,
#ist_complete_result .project::before {
  width: $size;
  height: $size;
}

// Decrease distance from circle and project name in sidebar
.generic_left_list li table td.td_color {
  min-width: 28px;
}
