$sidebarLeft = 230px
$editorPadding = 39px

#left_menu
#list_holder
  width $sidebarLeft

#content
  margin-left $sidebarLeft
  width auto

// Padding-right correction for editor
#editor
  padding-right 0

// Align of top bar elements after layout modifications
#top_bar_inner
  padding-left 0

#top_icons
  padding-right 0

#logo
  padding-left 4px

#quick_find
  margin-left $sidebarLeft + $editorPadding - 5px
  .quick_find
    width 460px
