//
// Todoist desktop
// =====================================================
//
$compensation = 35px
$left-size = 265px - $compensation
$content-margin = 284px - $compensation

#left_menu
#list_holder
  width $left-size

#content
  margin-left $content-margin

#editor
  // Avoid inline style to override width of editor.
  width auto !important

  // But it need padding-right correction.
  padding-right 0

// Align of quick find after layout modifications
#quick_find
  margin-left 292px
