//
// Tasks modifications
//

// Transparent background for checkboxes...
.ist_checkbox
  .priority_1 &
  .priority_2 &
  .priority_3 &
  .priority_4 &
    background-color transparent

  // Square checkboxes, just as it was in older versions.
  body .priority_1 &
  body .priority_2 &
  body .priority_3 &
  body .priority_4 &
    border-radius 0

  // Decreasing border of the checkboxes of tasks with priority.
  // And also, leaving the size of checkboxes equal to tasks without priority.
  body .priority_2 &
  body .priority_3 &
  body .priority_4 &
    border-width 1px !important
    width 16px
    height 16px


// ... and for hover of checkboxes.
.ist_checkboxhover
  .priority_1 &
  .priority_2 &
  .priority_3 &
  .priority_4 &
    background-color transparent

// Border color of square checkbox.
:not(.theme_dark) .priority_1 .ist_checkbox
  border-color #d1d1d1

.theme_dark .priority_1 .ist_checkbox
  border-color #666

// Padding right correction for task checkbox.
.task_item .checker
  padding-right 10px

// Correcting border of the subsection header.
.subsection_header
  margin-right 30px

// Darker border for tasks.
.theme_dark #app_holder

  > #content .subsection_header
  > #content .items .task_item td.checker
  > #content .project_history .task_item td.checker
  > #content .items .task_item .task_content_item
  > #content .project_history .task_item .task_content_item
  > #content .items .task_item .content
  > #content .project_history .task_item .content
  > #left_menu .expansion_panel
    border-bottom-color rgba(255,255,255,0.03)

  > #content .items .task_item td.checker
  > #content .project_history .task_item td.checker
  > #content .items .task_item .task_content_item
  > #content .project_history .task_item .task_content_item
  > #content .items .task_item .content
  > #content .project_history .task_item .content
  > #content .items .task_item .td_due_date
  > #content .project_history .task_item .td_due_date
    border-color rgba(255,255,255,0.1)

// Task time improvements for Todoist Foundations
.task_item .text
  display flex
  align-items center

.task_item_content_text
  order 1

.task_item_details_bottom
  margin-top 0
  order 0
