//
// Improvements in task time display.
//

// Correcting time height according to task checkbox.
#agenda_view .column_time div
  line-height 16px

// Task time improvements for Todoist Foundations
.task_item .text
  display flex
  align-items center
