//
// Colors of the applications
//

// For theme dark, use a slightly dark color for texts.
.theme_dark #app_holder
  > #content .items .text
  > #content .project_history .text
  > #left_menu .expansion_panel .panel_summary h5
    color rgba(255,255,255,.7)

